# Colle ici ta Connection String Supabase
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.oteuznospflzflnvgmil.supabase.co:5432/postgres

# Compte administrateur PhotoVault
OWNER_NAME=hunter
OWNER_PASS=cha_Hunter@01

# Ports (optionnel, 3000 et 3001 par défaut)
PORT_ADMIN=3000
PORT_PUBLIC=3001
